[submodule "catkin_purt"]
	path = catkin_purt
	url = https://github.com/jgoppert/catkin_purt.git
[submodule "avoidance"]
	path = avoidance
	url = https://github.com/jgoppert/PX4-Avoidance.git
[submodule "path_planning"]
	path = path_planning
	url = https://github.com/jgoppert/path_planning
[submodule "fbet"]
	path = fbet
	url = https://github.com/jgoppert/fbet
[submodule "object_tracking"]
	path = object_tracking
	url = https://github.com/alexrog/object_tracking.git
