<?xml version="1.0"?>
<model>
  <name>Sample Drone for IEEE Autonomous UAS 2022</name>
  <version>1.0</version>
  <sdf version='1.7'>px4vision.sdf</sdf>

  <author>
   <name></name>
   <email></email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a single forward facing depth camera.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
