<?xml version="1.0" ?>
{# general geometry #}
{%- set wheel_data_list = [
  {'name': 'front_left', 'x': 0.08,  'y': 0.07,  'z': '-0.01'},
  {'name': 'front_right', 'x': 0.08, 'y': -0.07, 'z': '-0.01'},
  {'name': 'rear_left', 'x': -0.08,  'y': 0.07, 'z': '-0.01'},
  {'name': 'rear_right', 'x': -0.08, 'y': -0.07,  'z': '-0.01'},
  ]%}

{%- macro box(name, color, x, y, z, l, w, h) -%}
<visual name='{{name}}'>
  <pose>{{x}} {{y}} {{z}} 0 0 0</pose>
  <geometry>
    <box>
      <size>{{l}} {{w}} {{h}}</size>
    </box>
  </geometry>
  <material>
    <script>
      <uri>file://media/materials/scripts/gazebo.material</uri>
      <name>Gazebo/{{color}}</name>
    </script>
  </material>
</visual>

<collision name='{{name}}'>
  <pose>{{x}} {{y}} {{z}} 0 0 0</pose>
  <geometry>
    <box>
      <size>{{l}} {{w}} {{h}}</size>
    </box>
  </geometry>
</collision>
{% endmacro -%}

{%- macro inertial(m, ixx, iyy, izz) -%}
<inertial>
  <mass>{{m}}</mass>
  <inertia>
    <ixx>{{ixx}}</ixx>
    <iyy>{{iyy}}</iyy>
    <izz>{{izz}}</izz>
  </inertia>
</inertial>
{% endmacro -%}

<sdf version="1.7">
  <model name='freenove_4wd'>
    <pose>0 0 0.15 0 0 0</pose>

    <link name='chassis'>
      {{ inertial(m, 0.01, 0.01, 0.01)|indent(6) }}
      {{ box('chassis', 'DarkGrey', 0, 0, 0, 0.2, 0.1, 0.03)|indent(6) }}
      {{ box('computer', 'Green', -0.05, 0, 0.03, 0.1, 0.07, 0.01)|indent(6) }}
    </link>

    {%- for data in wheel_data_list %}
    <link name="{{data.name}}">
      <pose>{{data.x}} {{data.y}} {{data.z}} 1.5707 0 0</pose>
      {{ inertial(0.01, 0.0001, 0.0001, 0.0001)|indent(6) }}
      <collision name="collision">
        <geometry>
          <cylinder>
            <radius>0.03</radius>
            <length>0.02</length>
          </cylinder>
        </geometry>
      </collision>

      <visual name="tire">
        <geometry>
          <cylinder>
            <radius>0.03</radius>
            <length>0.02</length>
          </cylinder>
        </geometry>
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/DarkGrey</name>
          </script>
        </material>
      </visual>

      <visual name="wheel">
        <geometry>
          <cylinder>
            <radius>0.028</radius>
            <length>0.022</length>
          </cylinder>
        </geometry>
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Yellow</name>
          </script>
        </material>
      </visual>

      <visual name="wheel_line">
        <geometry>
          <box>
            <size>0.053 0.01 0.024</size>
          </box>
        </geometry>
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/DarkGrey</name>
          </script>
        </material>
      </visual>

      <visual name="wheel_line2">
        <geometry>
          <box>
            <size>0.01 0.053 0.024</size>
          </box>
        </geometry>
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/DarkGrey</name>
          </script>
        </material>
      </visual>

    </link>

    <joint type="revolute" name="joint_{{data.name}}">
      <child>{{data.name}}</child>
      <parent>chassis</parent>
      <axis>
        <xyz>0 0 1</xyz>
        <dynamics>
          <friction>0.01</friction>
          <damping>0.01</damping>
        </dynamics>
      </axis>
    </joint>
    {% endfor %}
  </model>
</sdf>

<!-- vim: set et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : -->
