<?xml version="1.0"?> 
<sdf version="1.7">
  <model name="sample_course_1">
    {%- set spacing = 3 -%}
    {%- set n_rows = 4 -%}
    {%- set n_cols = 4 -%}
    {%- set colors= cycler('yellow', 'grey', 'grey', 'white', 'blue', 'grey', 'grey', 'green', 'grey', 'grey') -%}
    {%- set populate= cycler(1, 0, 1, 1, 0, 1, 0) -%}
    {%- for row in range(n_rows) -%}
      {%- for col in range(n_cols) -%}
        {% set x = spacing*(-n_rows/2 + row + 0.5) -%}
        {% set y = spacing*(-n_cols/2 + col + 0.5) -%}
        {% set id = row*n_rows + col -%}
        {%- if populate.next() %}
    <include>
      <uri>model://everblock_{{colors.next()}}</uri>      
      <name>block{{id}}</name>
      <pose>{{x}} {{y}} 0 0 0 0</pose>
    </include>
        {%- endif %}
      {%- endfor -%}
    {%- endfor -%}
  </model>
</sdf>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : -->
