<launch>
  <!-- Launch rqt_reconfigure -->
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" output="log" name="rqt_reconfigure" />

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find auav_2022_sample)/config/local_planner_live.rviz" />

  <!-- start drone  -->
  <group ns="drone" clear_params="true">

    <!-- mavros -->
    <include file="$(find mavros)/launch/node.launch">
      <arg name="pluginlists_yaml" value="$(find auav_2022_sample)/launch/px4_pluginlists.yaml" />
      <arg name="config_yaml" value="$(find auav_2022_sample)/launch/px4_config.yaml" />
      <arg name="fcu_url" value="/dev/ttyUSB0:921600"/>
      <!-- GCS link is provided by SITL -->
      <arg name="gcs_url" value="" />
      <arg name="tgt_system" value="1" />
      <arg name="tgt_component" value="1" />
      <arg name="log_output" value="log" />
      <arg name="fcu_protocol" value="v2.0" />
      <arg name="respawn_mavros" default="false" />
    </include>

    <!-- Launch local planner -->
    <node pkg="tf" type="static_transform_publisher" name="tf_fcu_link_camera"
      args="0 0 0 -1.57 0 -1.57 fcu camera_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_base_link_fcu"
      args="0 0 0 0 0 0 base_link fcu 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_local_origin_map"
      args="0 0 0 0 0 0 local_origin map 10"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_odom_map"
      args="0 0 0 0 0 0 map odom "/>

    <!-- We sleep 15 seconds before starting avoidance to make sure mavros is running, this prevents error messages while it is waiting-->
    <node pkg="nodelet" type="nodelet" name="local_planner" args="standalone LocalPlannerNodelet" output="log" launch-prefix="bash -c 'sleep 15; $0 $@' ">
      <remap from="move_base_simple/goal" to="/move_base_simple/goal"/>
      <param name="goal_x_param" value="5" />
      <param name="goal_y_param" value="0"/>
      <param name="goal_z_param" value="2" />
      <rosparam param="pointcloud_topics">[camera/depth/color/points]</rosparam>
    </node>

    <arg name="serial_no"             default=""/>
    <arg name="json_file_path"        default=""/>
    <arg name="camera"                default="camera"/>

    <group ns="$(arg camera)">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="serial_no"         value="$(arg serial_no)"/>
        <arg name="json_file_path"    value="$(arg json_file_path)"/>
        <arg name="depth_width"       value="640"/>
        <arg name="depth_height"      value="480"/>
        <arg name="depth_fps"         value="30"/>
        <arg name="color_width"       value="640"/>
        <arg name="color_height"      value="480"/>
        <arg name="color_fps"         value="30"/>
        <arg name="enable_depth"      value="true"/>
        <arg name="enable_color"      value="true"/>
        <arg name="enable_infra1"     value="false"/>
        <arg name="enable_infra2"     value="false"/>
        <arg name="enable_fisheye"    value="false"/>
        <arg name="enable_gyro"       value="false"/>
        <arg name="enable_accel"      value="false"/>
        <arg name="enable_pointcloud" value="true"/>
        <arg name="enable_sync"       value="true"/>
        <arg name="tf_prefix"         value="$(arg camera)"/>
      </include>
    </group>
  </group>

</launch>

<!-- vim set ft=xml ts=2 sw=2 et: -->
