<launch>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find auav_2022_sample)/config/local_planner_live.rviz" />

  <!-- start rover  -->
  <group ns="rover" clear_params="true">

    <!--keyboard rover control-->
    <node name="rover_teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
      <remap from='cmd_vel' to='/rover/cmd_vel'/>
    </node>

  </group>

</launch>

<!-- vim set ft=xml ts=2 sw=2 et: -->
